<div class="login-container">
    <div class="login-wrapper">
        <h1>Twitter Backup</h1>
        <h3>Powered by</h3>
        <img src="../Content/images/Twitter-Logo.png" class=" logo-container" />
        <div class="login-buttons">
            <button ng-click="authExternalProvider('Twitter', false)" class="btn btn-lg login-btn-margin">Login with Twitter</button>
            <button ng-click="authExternalProvider('Twitter', true)" class="btn btn-lg login-btn-margin">Login with Twitter as Admin</button>
        </div>
    </div>
</div>