[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

    .navbar .nav-wrapper {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

.navbar-header .navbar-brand {
    font-size: 2em;
}

.nav li a {
    font-size: 1.5em;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    padding-top: 51px;
}

    .body-content.login-page {
        background-image: url('../Content/images/bg-img.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
    }

.login-page .login-wrapper {
    background: rgba(255,255,255,0.75);
    border-radius: 15px;
    text-align: center;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
}

    .login-page .login-wrapper h1, .login-page .login-wrapper h3 {
        color: #fff;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .login-page .login-wrapper h1 {
        font-size: 3.5em;
    }

    .login-page .login-wrapper h3 {
        font-size: 2.5em;
    }

.login-page .logo-container {
    max-width: 70%;
    margin-top: 0;
    margin-bottom: 50px;
}

.login-page .login-buttons .btn {
    background: #04acea;
    color: #fff;
    font-size: 1.2em;
}

.login-page .login-buttons .login-btn-margin{
    margin: 5px;
}

footer {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    margin: 5px 0;
}

.favorite-icon {
    color: red;
    font-size: 1em;
}

.retweet-icon {
    font-size: 1em;
}

.gray-color {
    color: gray;
}

.green-color {
    color: green;
}

.glyphicon.glyphicon-retweet.green-color {
    cursor: pointer;
}

    .glyphicon.glyphicon-retweet.green-color:hover {
        color: lawngreen;
    }

.favorite-icon-value {
    color: red;
    font-size: 1.3em;
    font-family: monospace;
    margin-right: 10px;
}

.retweet-icon-value {
    font-size: 1.3em;
    font-family: monospace;
        margin-right: 10px;
}

.tweet-download {
    margin-bottom: 10px;
}

.no-margin {
    margin: 0px !important;
}

/*=======================================
HOME STYLES
==================================================*/

.fav-friends {
    margin-top: 20px;
}

    .fav-friends .friend {
        padding: 10px;
    }

.find-friend .is-following {
    font-size: 1em;
    margin-left: 5px;
}

/*=======================================
Admin STYLES
==================================================*/

.admin-stats-text {
    font-size: 0.7em;
}

.admin-stats-stat{
    font-size: 2em;
    color: #e95420;
}

.admin-image {
    max-width:70px;
}

/*=======================================
TWEET FEED STYLES
==================================================*/
.twt-wrapper .panel-body {
    overflow: auto;
}

.twt-wrapper .media-list .media {
    border-bottom: 1px dashed #efefef;
    margin-bottom: 25px;
}

.twt-wrapper .media-list .media img {
    width: 64px;
    height: 64px;
    border: 2px solid #e5e7e8;
}

/*=======================================
    Tweeter profile
=========================================*/

.user-profile-view {
    margin-top: 15px;
}

.user-profile-view .twt-wrapper{
    min-height: calc(100vh - 160px);
}

.user-profile-view .twt-wrapper .panel {
    margin-bottom: 0px;
}

.twPc-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    height: auto;
    position: fixed;
    width:32%;
}

.twPc-bg {
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 4px 4px 0 0;
    height: 200px;
    width: 100%;
}

.twPc-block {
    display: block !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.twPc-button {
    margin: -35px -10px 0;
    text-align: right;
    width: 100%;
}

.twPc-avatarLink {
    background-color: #fff;
    border-radius: 6px;
    display: inline-block !important;
    float: left;
    margin: -30px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}

.twPc-avatarImg {
    border: 2px solid #e95420;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 150px;
    width: 150px;
}

.twPc-divUser {
    margin: 5px 0 0;
}

.twPc-divName {
    font-size: 1.2em;
    font-weight: 700;
    line-height: 21px;
    padding-top: 15px;
}

    .twPc-divName a {
        color: inherit !important;
    }

.twPc-divStats {
    margin-left: 11px;
    padding: 10px 0;
}

.twPc-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}

ul.twPc-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.twPc-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
    text-align: center;
}

    .twPc-ArrangeSizeFit a:hover {
        text-decoration: none;
    }

.twPc-desc {
    font-size: 0.75em;
    margin: 0 15px;
    text-align: justify;
    border-top: 1px solid #ccc;
    padding: 5px 0;
    color: #8899a6;
}

.twPc-StatValue {
    display: block;
    font-size: 0.8em;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}

.twPc-StatLabel {
    color: #8899a6;
    font-size: 0.8em;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
    margin-top: 10px;
}

/*grid*/

.src-image {
    display: none;
}

.card {
    overflow: hidden;
    position: relative;
    border: 1px solid #CCC;
    border-radius: 8px;
    text-align: center;
    padding: 0;
    background-color: white;
    color: rgb(136, 172, 217);
}

    .card .header-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        border-bottom: 1px #FFF solid;
        z-index: 1;
        background-color: #d34615;
    }

    .card .avatar {
        position: relative;
        margin-top: 15px;
        z-index: 100;
    }

        .card .avatar img {
            width: 100px;
            height: 100px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            border: 5px solid rgba(0,0,30,0.8);
        }

/*Loader*/

#loaderDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: white;
    opacity: .8;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
    display: block;
}

@media (min-width: 1200px) {
    .body-content {
        font-size: 20px;
    }

    .login-page .logo-container {
        max-width: 60%;
    }
}

@media (min-width: 1400px) {
    .body-content {
        font-size: 25px;
    }

    .login-page .logo-container {
        max-width: 50%;
        margin-bottom: 30px;
    }

    .login-page .login-wrapper h1, .login-page .login-wrapper h3 {
        margin-top: 10px;
    }
}
