<div class="row jumbotron">
    <div class="col-md-4 text-center">
        <div>
            <strong>Total users</strong>
        </div>
        <div>
            <span>{{adminData.UsersCount}}</span>
        </div>
    </div>

    <div class="col-md-4 text-center">
        <div>
            <strong>Total downloaded tweets</strong>
        </div>
        <div>
            <span>{{adminData.DownloadedTweetsCount}}</span>
        </div>
    </div>

    <div class="col-md-4 text-center">
        <div>
            <strong>Total retweets</strong>
        </div>
        <div>
            <span>{{adminData.RetweetsCount}}</span>
        </div>
    </div>
</div>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th></th>
            <th class="text-center">Id</th>
            <th class="text-center">Name</th>
            <th class="text-center">Description</th>
            <th class="text-center">Friends count</th>
            <th class="text-center">Downloaded tweets count</th>
            <th class="text-center">Retweets count</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in adminData.Users" ng-class-even="'active'">
            <td><img ng-src="{{user.ProfileImageUrl}}" class="img-rounded" /></td>
            <td class="text-center">{{user.Id}}</td>
            <td class="text-center">{{user.Name}} (@@{{user.ScreenName}})</td>
            <td class="text-center">{{user.Description}}</td>
            <td class="text-center">{{user.FavoritesCount}}</td>
            <td class="text-center">{{user.DownloadedPostCount}}</td>
            <td class="text-center">{{user.RetweetsCount}}</td>
        </tr>
    </tbody>
</table> 