<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="friend in adminData.Friends">
            <td>1</td>
            <td>{{friend.Name}} (@@{{friend.ScreenName}})</td>
        </tr>
    </tbody>
</table> 