<div class="row jumbotron">
    <div class="col-md-4 text-center">
        <div>
            <span class="admin-stats-text">Total users</span>
        </div>
        <div>
            <strong class="admin-stats-stat">{{adminData.UsersCount}}</strong>
        </div>
    </div>

    <div class="col-md-4 text-center">
        <div>
            <span class="admin-stats-text">Total downloaded tweets</span>
        </div>
        <div>
            <strong class="admin-stats-stat">{{adminData.DownloadedTweetsCount}}</strong>
        </div>
    </div>

    <div class="col-md-4 text-center">
        <div>
            <span class="admin-stats-text">Total retweets</span>
        </div>
        <div>
            <strong class="admin-stats-stat">{{adminData.RetweetsCount}}</strong>
        </div>
    </div>
</div>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th></th>
            <th class="text-center">Id</th>
            <th class="text-center">Name</th>
            <th class="text-center">Description</th>
            <th class="text-center">Friends count</th>
            <th class="text-center">Downloaded tweets count</th>
            <th class="text-center">Retweets count</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in adminData.Users" ng-class-even="'active'">
            <td><img ng-src="{{user.ProfileImageUrl}}" class="img-rounded admin-image" /></td>
            <td class="text-center">{{user.Id}}</td>
            <td class="text-center">{{user.Name}} (<a target="_blank" href="https://twitter.com/{{user.ScreenName}}">@@{{user.ScreenName}}</a>)</td>
            <td class="text-center">{{user.Description}}</td>
            <td class="text-center">{{user.FavoritesCount}}</td>
            <td class="text-center">{{user.DownloadedPostCount}}</td>
            <td class="text-center">{{user.RetweetsCount}}</td>
        </tr>
    </tbody>
</table> 